.subMenuHeader {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.ant-input-affix-wrapper-sm {
  padding: 13px 15px;
  border-right: 1px solid #d9d9d9;
}

.ant-input-search-small .ant-input-search-button {
  height: 50px;
  width: 52px;
}

.remove-border {
  border: none !important;
}

.subSearchBar {
  color: #8c96a6;
  width: 40%;
  margin-left: 2%;
  height: 56px;
}

@media screen and (max-width: 1359px) {
  .subMenuHeader {
    margin: 1rem 0;
  }
  .subSearchBar {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .subMenuHeader {
    margin: 0.5rem 0;
    margin-bottom: 6rem;
    padding: 0;
  }
  .subSearchBar {
    font-size: 30px;
    font-family: 600;
  }
  .subMenuHeader {
    display: block;
  }
  .subLogo {
    width: 150px;
    height: 60px;
  }
}

/* Logo */
.subLogo {
  width: 200px;
  height: 77px;
}
