.homepageContainer {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0, 2rem;
}
/* Pagination Styles */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  font-size: 16px;
}
.pagination > .active > a {
  background-color: #fff;
  border-color: #ea0215;
  color: #ea0215;
}
.pagination > li > a {
  border: 1px solid #d9d9d9;
  padding: 6px 12px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}
.pagination > li > a:hover {
  border-color: #ea0215;
  color: #ea0215;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #ea0215;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: rgba(0, 0, 0, 0.85);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.mobilePagination {
  display: none;
  margin: 0 auto;
}

.desktopPagination {
  display: block;
  margin: 0 auto;
}

/* Product Box */
.productColWrapper {
  width: 350px;
  height: 460px;
}
.hompageProductCompare {
  margin: 0.5rem 0;
}

.homepageProductButton {
  width: 100%;
  height: 50px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-position: center;
}

/* Media Queries */
@media screen and (max-width: 1284px) {
  /* ul {
    padding-inline-start: 0;
  } */

  .hompageProductTitle,
  .hompageProductReviews,
  .hompageProductPrice,
  .hompageProductCompare,
  .hompageProductBuy,
  .homepageResponsivePagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  /* Pagination */
  .mobilePagination {
    display: block;
    font-size: 14px;
  }

  .pagination > li > a {
    font-size: 14px;
  }

  .mobilePagination li:not(.previous, .active, .break-me, .next) {
    display: none;
  }
  .mobilePagination li:nth-last-child(2) {
    display: block;
  }

  .desktopPagination,
  .itemsperText {
    display: none;
  }
}
