.body p {
  line-height: calc(28 / 18);
  font-size: calc(1rem / 16 * 18);
  margin: 0.55rem 0;
}

.body h2 {
  font-size: calc(1rem / 16 * 25);
  line-height: calc(28 / 25);
  margin: 3rem 0 0.75rem;
  font-weight: 600;
}

.body ul {
  margin: 1rem 0;
  padding: 0 0 0 1.5em;
  list-style-type: disc;
}

.body a {
  color: #ef4444;
  cursor: pointer;
}

.body a:hover {
  color: #b91c1c;
}
