.productWrapper {
  margin: 0 20%;
}

/* Buying buttons */
.productButtons {
  width: 40%;
}

.productButtonWrapper {
  width: 100%;
}

.productButton {
  width: 40%;
  background: #ea0215;
}
/* //Buying buttons */
.productThumbnail {
  width: 308px;
  height: 308px;
  object-fit: scale-down;
}

/* Table */
.table-striped-rows .ant-table-tbody > tr:first-child > td {
  border: 2px solid #ffa39e;
  background: #fff1f04d;
  border-left: 0;
  border-right: 0;
}
/* Left */
.table-striped-rows .ant-table-tbody > tr:first-child > td:first-child {
  border-left: 2px solid #ffa39e;
}

/* Right */
.table-striped-rows .ant-table-tbody > tr:first-child > td:last-child {
  border-right: 2px solid #ffa39e;
}

@media screen and (max-width: 1284px) {
  .column {
    flex: 100% !important; /* !important so that it overrides the inline style because by default it has higher priority */
  }

  /* Best Price css*/
  .productWrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productTitle {
    font-size: 24px;
  }
  .productImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productThumbnail {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
  }
  .productDetails {
    padding-top: 30px;
  }
  .productPrice,
  .productReviews {
    justify-content: center;
    text-align: center;
  }
  /* Buying buttons */
  .productButtons {
    width: 100%;
    margin: 0 30%;
  }

  .productButtonWrapper,
  .productButton {
    width: 100%;
  }
  .productButtonWrapper {
    margin: 0 30%;
  }
  /* //Buying buttons */

  /* Price Comparison */
  .tableLabels {
    margin: 0 10%;
  }
  .shippingLabel,
  .imageLabel {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .productButtons {
    width: 100%;
    margin: 0 10%;
  }
  .productButtonWrapper,
  .productButton {
    width: 100%;
  }
  .productButtonWrapper {
    margin: 0 10%;
  }
}
