.navContainer {
  background: #fff;
  margin: 1rem 10rem;
  padding: 0;
}
.logo {
  width: 200px;
  height: 80px;
}

@media screen and (max-width: 1024px) {
  .navContainer {
    margin: 1rem 5rem;
  }
}
@media screen and (max-width: 768px) {
  .navContainer {
    margin: 1rem 0.5rem;
  }
}
@media screen and (max-width: 425px) {
  .navContainer {
    margin: 1rem 0;
    padding: 0;
  }
  .logo {
    width: 160px;
    height: 65px;
  }
}
